
/* Styles pour la grille */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.box {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.box-image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image img {
    max-height: 100%;
    max-width: 100%;
}
.box {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}
@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .box {
        flex-basis: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .box {
        flex-basis: calc(100% - 40px);
    }
}

body {
    background-color: #f2f3f7!important;
}

.titre{
    text-align: center;
}