

.search-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.search-input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 0 10px;
    font-size: 16px;
}
.tt{
    width: 80px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
}
.hide{
    display: none;
}
.btn{
    margin-left: 100px;
}
.bouton-pagi{
    margin:2px;
    font-size:14px ;
}